# Python stuff
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
data/
ingestion/solar_links.txt

# Logs
logs/
*.log

# macOS
.DS_Store
**/.DS_Store

# Model files
models/*
!models/.gitkeep
# No longer using src/models

# Evaluation results
evaluation/results/
evaluation_results_*.csv
summary_metrics_*.json
summary_metrics_*.csv

# Docker files
*.tar
*.tar.gz

# Jupyter notebooks cache
.ipynb_checkpoints/

# IDE and OS files
.idea/

# Documentation specific files
docs/journals/2025_05_07.md
docs/logseq/config.edn
docs/logseq/custom.css
docs/pages/contents.md
